footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  background-color: rgb(91, 123, 64);
}


p a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

p a:hover {
  color: rgb(236, 200, 54);
  cursor: pointer;
}