* {
  font-family: Roboto, Arial;
  margin: 0;
}

body {
  height: 1000px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: rgb(91, 123, 64);
}

.logo {
  width: 180px;
  height: 100px;
}

.header-links {
  padding-right: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  background-color: rgb(204, 216, 145);
}

.top-info h1 p {
  min-width: 0;
}

.top-info h1 {
  color: white;
  font-size: 38px;
}

.top-info p {
  color: rgb(40, 40, 40);
  font-size: 16px;
}

.top-info button {
  color: rgb(254, 255, 237);
  background: linear-gradient(rgb(179, 205, 94), rgb(3, 97, 3));
}

.top-info button {
  padding: 10px 5px;
  width: fit-content;
  white-space: nowrap;
  border: 1px solid gray;
}

.petal {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(236, 200, 54);
  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 500px;
  height: 400px;
}

.top-image {
  width: 450px;
  height: 350px;
}
